
.p-panel .p-panel-content{
  border-radius: 0;
}
.post-toolbar{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.p-toolbar > div > *{
  cursor: pointer;
  margin: 0 1em;
}
.panel-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

