
.p-panel .p-panel-content{
  border-radius: 0;
}
.post-toolbar{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.comments-toolbar{
  border-top: none;
  border-radius: 0;
  background-color: white;
  cursor: context-menu !important;
}

.p-toolbar > div > *{
  cursor: pointer;
  margin: 0 1em;
}
.panel-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pi-bookmark-fill{
  animation: forwards cheers 0.1s ease-in-out ;

}
@keyframes cheers  {
  0%{
    scale: 1
  }

  70%{
    scale: 1.5;
  }
  100%{
    scale:1
  }
}
