<div class="post-item" style="margin: 2em 0;">
  <p-panel>
    <ng-template pTemplate="header">
      <div style="width: 100%">
        <div class="panel-header">
          <div>
            <strong>
            {{postItem.title ||"Még nem tudom mi a címem :\\"}}

              </strong>
            <!-- TITLE -->
          </div>
          <div>
            <!-- AUTHOR.FULLNAME -->
            <app-user-banner fullName="{{postItem.author?.fullName}}"></app-user-banner>
          </div>
        </div>
        <div>
          <p-divider/>
        </div>
      </div>


    </ng-template>
    <div class="post-content">
        {{postItem.content || "Még üres vagyok :\\" }}
    </div>
  
    <div class="panel-bottom-toolbar">

    </div>
  </p-panel>
  <p-toolbar styleClass="post-toolbar">
    <div class="p-toolbar-group-start">
      <div>
        <i class="pi pi-comments" ></i>
        <span>
          Hozzászólások
        </span>
      </div>
      <i class="pi pi-share-alt" style="color: dodgerblue"></i>
      <div>
        <i class="pi pi-bookmark-fill" *ngIf="saved" style="color: #f7b928" (click)="savePost()"></i>
        <i class="pi pi-bookmark" *ngIf="!saved" style="color: #f7b928" (click)="savePost()"></i>
        <span *ngIf="saved">
          Mentve
        </span>
        <span *ngIf="!saved">
          Mentés
        </span>
      </div>

    </div>
    <div class="p-toolbar-group-end">
      <i class="pi pi-thumbs-up" *ngIf="!liked" style="margin-right: 0.5em" (click)="likePost()"></i>
      <i class="pi pi-thumbs-up-fill" *ngIf="liked" style="margin-right: 0.5em" (click)="likePost()"></i>
      <i class="pi pi-thumbs-down-fill" *ngIf="disliked" style="margin-right: 0.5em" (click)="dislikePost()"></i>
      <i class="pi pi-thumbs-down" *ngIf="!disliked" style="margin-right: 0.5em" (click)="dislikePost()"></i>
    </div>
  </p-toolbar>


</div>
