<mat-toolbar color="primary">
    <span>Reddit Lite Copy</span>
    <div class="right-links">
        <button mat-button routerLink="/login" class="log-in-button" (click)="openDialog()">Log in</button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>input</mat-icon>
                <span (click)="openDialog()">Log in / sign up</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>