nav.navbar{
  display:flex;
  height:80px;
  background-color: #579257;
  align-items: center;
  padding: 0 2em;


}
nav.navbar > div{
  flex: 1;
  display: flex;
  align-items: center;
}
nav.navbar > div {
  margin: 0 0.25em;
}
nav .start{
  justify-content: start;
}

nav .center{
  justify-content: center;
}
nav .end{
  justify-content: end;
}
.navbar .search-panel input[type="text"]{
  background-color: #76a276;
  color: white;
}
.navbar .search-panel  input[type="text"]::placeholder{
  color: #d8d8d8;
}
