<div>
    <form (ngSubmit)="login()">
        <div class="p-field">
            <span class="p-float-label">
                <input id="username" name="username" type="text" [(ngModel)]="loginData.userName" pInputText required>
                <label for="username">Felhasználónév</label>
            </span>
        </div>

        <div class="p-field">
            <span class="p-float-label">
                <input id="password" name="password" type="password" [(ngModel)]="loginData.password" pInputText
                    required>
                <label for="password">Jelszó</label>
            </span>
        </div>

        <div class="p-field">
            <div>
                <button pButton pRipple type="submit" label="Bejelentkezés"
                    class="p-button-rounded p-button-success"></button>
            </div>
        </div>

      

        <p>Új felhasználó vagy? <a (click)="openRegistrationDialog()">Regisztálj</a></p>
    </form>
    <form (ngSubmit)="tesztGomb()">
        <div class="p-field">
            <div>
                <button pButton pRipple type="submit" label="TESZT GOMB" class="p-button-rounded p-button-success"></button>
            </div>
        </div>
    </form>
   
</div>
