body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    background-color: rgb(43, 96, 29);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2rem;

  }
.home > div{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 60px;

}
.home  section:nth-of-type(2) > * {
    padding: 25px;
}
section{
    width: 35%;
    font-size: 1.7rem;
}
.home img{
    width: 100%;
}

@media screen and (max-width: 1200px){
    section {
      font-size: 1.2rem;}
    }
