<body>
  <header>Reddit Lite Copy</header>
  <app-navbar></app-navbar>
  <main class="home">
    <div>
      <section>
        <img src="/assets/picture.png">
      </section>
      <section>
        <h1>Merülj el bármiben</h1>
        <p>A Reddit több ezer közösségnek, végtelen beszélgetésnek és hiteles emberi kapcsolatoknak ad otthont. Megoszthatod gondolataidat, problémáidat vagy akár felteheted kérdéseidet tabuk nélkül.</p>
        <span style="font-weight: bold; font-size: 2rem;">A Reddit Lite Copy-n van egy közösség az Ön számára.</span>
      </section>
    </div>
  </main>
</body>
