<div class="create-post">

  <div style="display: flex">
      <app-user-banner fullName="Nagy Miklós"/>
      <input type="text" pInputTextarea style="border-radius: 2em; margin-left: 0.5em; width: 100%" placeholder="Mi jár a fejedben...">
  </div>
  <p-divider/>
  <div class="more-things">
    <div>
      <i class="pi pi-video" style="color: red;"></i>
      Videó
    </div>
    <div>
      <i class="pi pi-images" style="color: #2c8d15;"></i>
      Képek
    </div>
    <div>
      <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/yMDS19UDsWe.png" width="25px" alt="">
      Hangulat
    </div>
  </div>

</div>
