<form>
    <img src="/assets/logo.png" alt="Logo" width="60" height="60" style="display: block; margin: 10px auto;">
    <h1>Regisztráció</h1>

    <input  placeholder="Teljes név" text id="nev" type="text">

    <input  placeholder="Felhasználónév" text id="felhasznalonev" type="text" >

    <input  placeholder="Email-cím" text id="email" type="email" >

    <input  placeholder="Jelszó" id="password" type="password" >

    <button type="button" (click)="redirectToHome()">Regisztráció</button>

</form>
