form{
    max-width: 30vw;
    margin: 250px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgb(0,0,0,0.15);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

input{
    width: 100%;
    padding-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    border: 1px solid black;
    margin-top: 1em;
}

 button{
    width: 80%;
    margin: 2vh auto;
    display: block;
}

.p-field{
    margin-top: 2vh;
}
