<!-- TYPESCRIPT INTEFACE USERRE MEG POST-RA -->
<div>
  <div class="logo">
    <p-image src="./../../../assets/logo.png" alt="Image" width="150px" height="150px"></p-image>
  </div>
  <form (ngSubmit)="register()">
    <div class="p-field">
      <span class="p-float-label">
        <input id="name" name="name" type="text" [(ngModel)]="user.fullName" pInputText required>
        <label for="username">Teljes név</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input id="username" name="username" type="text" [(ngModel)]="user.userName" pInputText required>
        <label for="username">Felhasználónév</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input id="email" name="email" type="email" [(ngModel)]="user.email" pInputText required>
        <label for="email">E-mail cím</label>
      </span>
    </div>

    <div class="p-field">
      <span class="p-float-label">
        <input id="password" name="password" type="password" [(ngModel)]="user.password" pInputText required>
        <label for="password">Jelszó</label>
      </span>
    </div>

    <div class="p-field">
      <div>
        <button pButton pRipple type="submit" label="Regisztráció" class="p-button-rounded p-button-success"></button>
      </div>
    </div>
    <p-messages [(value)]="msgs"></p-messages>

    <p>Már felhasználó vagy? <span (click)="openLoginDialog()" style="color:#579257; cursor: pointer;">Jelentkezz be</span></p>
  </form>
</div>