/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
=======
@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




>>>>>>> origin/mol3sz
