<div class="footer">
    <div class="icon">
        <img src="./../../../assets/picture.png" width="250px" height="250px" style="mix-blend-mode: multiply">
    </div>

    <div class="developers">
        <p-chip label="Nagy Daniella - Backend Developer" image="./../../assets/Daniella-face.jpg" [removable]="false"></p-chip>
        <p-chip label="Orosz Diána - Designer" image="./../../assets/Dina-face.jpg" [removable]="false"></p-chip>
        <p-chip label="Molnár Kristóf Ferenc - Project Manager" image="./../../assets/Kristof-face.png" [removable]="false"></p-chip>
        <p-chip label="Fekete Adrián - Scrum Master" image="./../../assets/Adrian-face.png" [removable]="false"></p-chip>
    </div>
</div>